
*.lock
*.lock
.vs/
.vs/Labb2/v16/TestStore/1/testlog.manifest
.vs/Labb2/v16/TestStore/1/000-0000.testlog
.vs/Labb2/v16/TestStore/0/testlog.manifest
.vs/Labb2/v16/TestStore/0/000-0000.testlog
.vs/Labb2/v16/Server/sqlite3/storage.ide-wal
.vs/Labb2/v16/Server/sqlite3/storage.ide-shm
.vs/Labb2/v16/Server/sqlite3/storage.ide
.vs/Labb2/v16/Server/sqlite3/db.lock
.vs/Labb2/v16/.suo
.vs/Labb2/DesignTimeBuild/.dtbcache
.vs/Labb2/config/applicationhost.config
.vs/Labb2/v16/Server/sqlite3/storage.ide-wal
.vs/Labb2/v16/Server/sqlite3/storage.ide-shm
.vs/Labb2/v16/Server/sqlite3/storage.ide
.vs/Labb2/v16/Server/sqlite3/db.lock
.vs/Labb2/v16/.suo
.vs/Labb2/DesignTimeBuild/.dtbcache
.vs/Labb2/v16/Server/sqlite3/storage.ide-wal
*.ide-shm
